@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* nav related style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* shared styles */
/* Dark01 */
.gray{
    color: #131313;
}
/* Dark02 */
.text-gray{
    color: #424242;
}
/* Dark03 */
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}


/* banner related styles */
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.btn-primary{
    background-color: #FF900E;
    border: none;
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}
.banner-image{
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}


/* teams and feature related styles */
.teams{
    margin: 85px 100px 130px 100px;
    display: flex;
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}
.our-features{
    max-width: 535px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: medium;
}


/* feature */
.feature-container{
    display: flex;
    gap: 146px;
}
#feature-title-border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}


  /* Some Facts */
.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin: 5px;
}


/* Our Sponsors */
.sponsors-info{
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-companies img{
    filter: grayscale(100%);
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column-reverse;
        margin: 10px;
    }
    .team-img-container, .facts, .sponsor-companies{
        grid-template-columns: auto;
    }
    .facts, .sponsor-companies{
        gap: 24px;
        
    }
    .feature-container{
        flex-direction: column-reverse;
    }
}


/* Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .facts{
        gap: 24px;
    }
    .sponsor-companies, .facts{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .feature-container{
        flex-direction: column;
    }
}
